<div class="home-container">
    <div class="content">
      <h1 class="header">Welcome to Our Angular Home Page</h1>
      <img class="image" src="https://st2.depositphotos.com/3591429/12552/i/600/depositphotos_125524360-stock-photo-diversity-friends-near-wall-with.jpg" alt="Home" />
      <p>
        This is a simple home page designed using Angular. It showcases how to style
        elements using CSS to create a clean and modern design.
      </p>
      <input type="text" (input)="onInputChange($event)"placeholder="Enter Student Name">
      <div>{{inputValue}}</div>
      <br>
      <button class="button" (click)="goToStudentPage()">Go to Student Mark</button>
    </div>
</div>
    
      